<h2 class="ui center aligned medium icon header pink" id="front-circle" >
  <i class="circular users icon"></i>
  Say Something
</h2>



<div class="ui two column grid">
  <div class="twelve wide column"> 
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui small feed">
          <h4 class="ui header">Followers Activity</h4>
          <div class="event">
            <div class="content">
              <div class="summary">
                <a href="">Ellio Fu</a> added <a href="">Jenny Hess</a> as a friend
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                <a href="">Stevie Feliciano</a> added <a href="">Elliot Fu</a> as a friend
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div> 

  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui inverted vertical menu">
          <a class="active item" href="">
            Home
          </a>
          <a class="item" href="">
            Messages
          </a>
          <a class="item" href="">
            Friends 
          </a>
        </div>
      </div>
    </div>
  </div>

</div>

